html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


::selection {
  background: #94C58D; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #94C58D; /* Gecko Browsers */
}

.link {
  color: #3b99fc;
  cursor: pointer;
}


.link:hover {
  color: #5995DA;
  text-decoration: none;
}

.link:active {
  color: #407FC7;
}

.link--footer {
  margin-right: 1rem;
}

body {
  font: 1rem 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
  color:  #666;
  padding: 0 2rem;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
  min-width: 20rem;
}

.section {
  flex: 1;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 35rem) {
  body {
    margin: 2rem;
  }

  .section {
    margin-bottom: 3rem;
    flex: none
  }

  .footer {
    justify-content: flex-start;
  }
}


@media screen and (min-width: 60rem) {
  body {
    max-width: 40rem;
    margin: 6rem 12%;
    padding: 0 2rem;
    font-size: 1.2em;
  }

  .header {
    font-size: 1.2rem;
  }

  .section {
    margin-bottom: 3rem;
    flex: none
  }

  .footer {
    justify-content: flex-start;
  }
}
